<h1>詳細</h1>
<% sch = @sch%>
<table>
  <tr>
    <th>タイトル</th>
    <td><%= sch.title%></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= sch.sday%></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= sch.eday%></td>
  </tr>
    <tr>
    <th>終日</th>
  </tr>
  <td>
    <% if sch.all == 1%>
      <p>○</p>
    <% end%>
  </td>
</table>
<p><%= link_to "編集", edit_sch_path(sch.id)%></p>
<p><%= link_to "戻る", sches_path%></p>